---
import Layout from "../layouts/Layout.astro";
import styles from "./postlayout.module.scss";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <section class={styles.postLayout}>
    <div class={styles.postContainer}>
      <figure>
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
      </figure>
      <div class={styles.postHeader}>
        <h1>{frontmatter.title}</h1>
        <div class={styles.postMeta}>
          <p class={styles.category}>{frontmatter.category}</p>
          <p class={styles.date}>
            <time datetime={frontmatter.pubDate}
              >{frontmatter.pubDate.slice(0, 10)}</time
            >
          </p>
        </div>
        <div class={styles.author}>
          <img src="" alt={frontmatter.author} />
          <p>Text by <a href="/about">{frontmatter.author}</a></p>
        </div>
      </div>
      <div class={styles.content}>
        <slot />
      </div>
      <div class={styles.postFooter}>
        <ul class={styles.tags}>
          {
            frontmatter.tags.map((tag) => (
              <li class={styles.tag}>
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class={styles.breadcrumb}>
        <ol>
          <li><a href="/">HOME</a></li>
          <li><a href="/">{frontmatter.category}</a></li>
          <li>{frontmatter.title}</li>
        </ol>
      </div>
    </div>

    <aside class={styles.sidebar}>
      <div class={`${styles.sidebarModule} ${styles.indexModule}`}>
        <h3>Index</h3>
        <ul>
          <li>記事中の見出しが入ります</li>
        </ul>
      </div>
      <div class={`${styles.sidebarModule} ${styles.adModule}`}>
        <h3>Sponsored</h3>
      </div>
    </aside>
  </section>
</Layout>
